---
title: Welcome!
section: intro
order: 0
---
<div class="hero-unit">
	<h2>COSI 235a</h2>
	<p>This is the course web site for the Fall 2013 Edition of "IT Entrepreneurship".</p>
	<p>
		<%= link_to("Enter the site!", symbol_to_item(:overview, :intro), class: "btn btn-primary btn-large") %>
	</p>
</div>

COSI 235a this fall has been fully updated so I hope you read through the following to get a feel for what this program is about. You can think of 235a as part one of a two part cycle. Part one: Idea -> Validated business model. Part two (236b) Validated business model to launch.

__We want to take an idea__ -- let's say a 'good idea' (see <%= link_to_topic :ideas_are_cheap %>) -- to fruition as a business that has a chance to make real money and/or have an big imact on a many real people's lives. Not a hobby that you pursue because you'd like to learn and grow -- which is fine -- but something that you have real reason to believe will make a big difference. It is said that 9 out of 10 startups fail. Our goal is to improve your odds.

__This is not a software engineering course.__ It is a course that helps you develop the discipline and tools to develop your idea and to assure that it will meet its goals - like making money and/or having an actual real impact on the world. 

I use the line "is this a hobby or a business." For this course I am not interested in doing a project because it's fun or you get to learn how to use rails or javascript. Those are great personal goals which are fine but will not effect a change in the world. 

__Open to undergrads and post-bacs with permission of instructor.__ This is a graduate level course which means that preference will be given to Masters students. If you are an undergrad or post-bac, to request permission, send me an email request at pitosalas@brandies.edu including:

1. Your major and year and cosi Courses taken so far
2. Your take on assignment two of the first homework. (You can find the first day's lecture and homeworks here: <%= link_to_lecture :welcome %>)

__pro tip:__ _read this page page, the <%= link_to_intro :overview %>, <%= link_to_intro :term_overview %> and <%= link_to_intro :detailed_schedule %>, to really understand what this course is and is not about, before you write your answer to assignment #2._

##### The side  bar to the right contains a ton more info!
